<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">{{ authentication_status }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body" style="font-size: 20px">
    <input type="hidden" id="user-logged" value="{{ user }}">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <div *ngIf="user_logged; then authenticated else log_menu"></div>
      <ng-template #authenticated>
        <li><a class="dropdown-item"
               [routerLink]="['../profile', 'reimis']"><img
          src="" alt="" class="profile-icon">Профиль</a>
        </li>

        <li><a id="active-projects" class="dropdown-item"
               href="">Мои
          проекты(Количество)</a></li>
        <li><a id="active-invites" class="dropdown-item"
               href="">Приглашения
          (В проекты | В команды)</a>
        </li>
        <li>
          <a class="btn btn-danger"
             href="">Разлогиниться</a>
        </li>
      </ng-template>
      <ng-template #log_menu>
        <li><a class="dropdown-item"
               href="">Войти</a></li>
        <li><a class="dropdown-item"
               href="">Зарегистрироваться</a>
        </li>
      </ng-template>
    </ul>
  </div>
</ng-template>
<hr/>
