<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" *ngIf="authenticationTitle$|async as title">{{ title }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body" style="font-size: 20px">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <div *ngIf="(user$|async) as user else log_menu">
        <li><a class="dropdown-item"
               [routerLink]="['../profile', user.userprofile.slug]"><img
          src="" alt="" class="profile-icon">Профиль</a>
        </li>

        <li><a id="active-projects" class="dropdown-item"
               href="">Мои
          проекты(Количество)</a></li>
        <li><a id="active-invites" class="dropdown-item"
               href="">Приглашения
          (В проекты | В команды)</a>
        </li>
        <li>
          <a class="btn btn-danger"
             (click)="logout()">Разлогиниться</a>
        </li>
      </div>
      <ng-template #log_menu>
        <li><button class="dropdown-item"
                    (click)="openLoginModal()">Войти</button></li>
        <li><a class="dropdown-item"
               href="">Зарегистрироваться</a>
        </li>
      </ng-template>
    </ul>
  </div>
</ng-template>
<hr/>
