<div class="row py-3">

  <div class="col">
    <div *ngIf="projects_list, then loadProjects else noProjects"></div>

    <ng-template #loadProjects>
      <div *ngFor="let page of projects_list | async" class="container">
        <div class="row border p-4 p-md-5 mb-4 rounded text-bg-dark">
          <div class="col-md-8">
            <div class="d-flex flex-column justify-content-between align-items-start h-100">
              <!-- Внутри первой колонки -->
              <div>
                <h1 class="display-4 fst-italic">{{ page.title|truncatechars:100 }}</h1>
                <p *ngIf="page.description, else noDescription"
                   class="lead my-3">{{ page.description|truncatechars:160 }}</p>
                <ng-template #noDescription>
                  <p class="lead my-3">Нет описания</p>
                </ng-template>
              </div>
              <a [routerLink]="['/projects', page.pk]"
                 class="btn btn-sm btn-info text-white mt-auto">Подробнее</a>
              <!-- Кнопка "Подробнее" размещена внизу первой колонки -->
            </div>
          </div>
          <div class="col-md-4 d-flex flex-column justify-content-between align-items-end">
            <!-- Внутри второй колонки -->
            <img src="" alt="" class="card-icon">
            <div *ngIf="page.original_content" class="d-flex flex-column align-items-center mt-3">
              <!-- Добавлены классы для выравнивания элементов друг под другом -->
              <span>Оригинал:</span>
              <div class="d-flex flex-row">
                <a href="{{ page.original_content.slug }}"
                   class="btn btn-sm btn-outline-info m-2 fst-italic">{{ page.original_content.title }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #noProjects>
      <div class="py-3"><h3>В этой категории ничего нет</h3></div>
    </ng-template>
  </div>
</div>

