<div *ngIf="pageData$ |async as pageData" class="container-fluid">
  <div class="container p-5">
    <span class="text fw-bold">Основная информация:</span>
    <form method="post" enctype="multipart/form-data">
      <span>Форма изменения данных</span>
    </form>
  </div>
  <div class="container">
    <span class="text fw-bold">Над переводом работают:</span>
    <div class="py-3"><a class="btn btn-success" href="/">Пригласить
      новых
      авторов</a></div>
    <table class="table table-light table-hover table-bordered">
      <tbody>
      <tr>
        <td>Никнейм</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Должность</td>
        <td>Репутация</td>
        <td></td>
      </tr>
      <tr *ngFor="let author of pageData.authors" [ngClass]="{ 'strikethrough': author.isFired }">
        <td><a [routerLink]="['/profile', author.user.userprofile.slug]">{{ author.user.username }}</a></td>
        <td>{{ author.user.first_name }}</td>
        <td>{{ author.user.last_name }}</td>
        <td>{{ author.role }}</td>
        <td>{{ author.user.userprofile.reputation }}</td>
        <td>
          <div *ngIf="loggedUser?.username === author.user.username; else firedButton">
            Это Вы
          </div>
          <ng-template #firedButton>
            <button class="btn btn-danger" (click)="onFireUser(author.user.userprofile.slug)">
              Уволить
            </button>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
