<div class="container justify-content-center">
  <div class="py-2">
    <a *ngIf="profileOwner" class="btn btn-success" href="">Изменить профиль</a>
  </div>
  <table class="table table-bordered table-light">
    <tbody>
    <tr>
      <th>{{ userProfile.user.username }}</th>
      <td><img src="" alt="profile avatar" height="40" width="40">
      </td>
    </tr>
    <tr>
      <th>Награды:</th>
      <td>
        <div *ngIf="userProfile.titles, then titlesBlock else noTitles"></div>
        <ng-template #titlesBlock>{{ userProfile.titles }}</ng-template>
        <ng-template #noTitles>Нет наград</ng-template>
      </td>
    </tr>
    <tr>
      <th>Описание:</th>
      <td>{{ userProfile.description }}</td>
    </tr>
    <tr>
      <th>Опыт:</th>
      <td>{{ userProfile.experience }}</td>
    </tr>
    <tr>
      <th>Репутация:</th>
      <td>{{ userProfile.reputation }}</td>
    </tr>
    </tbody>
  </table>
</div>
